@model List<Investing.Models.Currency>

<script src="~/js/currency.js"></script>
<link rel="stylesheet" href="~/css/currency.css" />
@{
    ViewData["Title"] = "Валюта Московской биржи";
}

<h1>Валюта Московской биржи</h1>

<div>
    <div class="selector-currrency">
        <div class="visible-selectr-currency">
            <h4 id="visible-currency-name"></h4>
        </div>
    <div class="section-type-currency">
        <div class="section-btns-type">
            <button onclick="getAllCurrency()" id="btn-type-currrency-all" class="btn-type-currrency">Все</button>
            <button onclick="getNededCurrency()" id="btn-type-currrency-money()" class="btn-type-currrency">Денежные средства</button>
            <button onclick="getNededMetalls()" id="btn-type-currrency-metall()" class="btn-type-currrency">Драгоценные металлы</button>
            </div>
        </div>
    </div>
<table class="table" id="table-currency">
    <thead>
        <tr>
            <th onclick="sortTable(0)">
                Название
            </th>
            <th onclick="sortTable(1)">
                Цена
            </th>
            <th onclick="sortTable(2)">
                За день
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var currency in Model)
        {
            @if (currency.Marketdata.LAST.HasValue)
            {
             <tr style="@(currency.Marketdata?.TRADINGSTATUS == "N" ? "background-color: grey" : "background-color: white;")" onclick="window.location.href='@Url.Action("DetailCurrency", "Currency", new { secId = currency.Security.SECID })'; return false">
                <td>
                    <div class="company-info">
                        @if (!(currency.Security.IconCompany is null))
                        {
                            <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(@currency.Security.IconCompany))" class="company-logo">
                        }
                        else
                        {
                            <img src="~/images/logo.jpg" class="company-logo" />
                        }
                        <div>
                            <div class="company-name">@currency.Security.SHORTNAME</div>
                            <p class="company-description">От @currency.Security.LOTSIZE @currency.Security.FACEUNIT</p>
                        </div>
                    </div>
                </td>
                <td>@currency.Marketdata.LAST</td>

                        @{
                            string isWherePrice = "";
                            if(currency.Marketdata.LASTTOPREVPRICE > 0.1M)
                            {
                                isWherePrice = "plus-result";
                            }
                            else
                            {
                                isWherePrice = "minus-result";
                            }
                        }

            <td class="@isWherePrice">@currency.Marketdata.LASTTOPREVPRICE </td>
            </tr>   
            }
        }
    </tbody>
    </table>
</div>