@model Investing.Models.Stocks
<link rel="stylesheet" href="~/css/detail_stock.css" />
<script src="~/js/detail_stock.js"></script>
<script src="~/js/candles_history.js"></script>
<div class="main_board">
    <div class="main-section">
        <div class="section">
            <div class="logo-name-main">
        <div class="section-close-page">
            <a class="button-close-page"></a>
        </div>
        <div class="logo-company">
            <img />
        </div>
        <div class="name-company">
            <h2>@Model.Security.SHORTNAME</h2>
                </div>
            </div>
     </div>
    <div class="section">
        <div class="price-now">
            <div class="info-price">
                <p>Цена</p>
                <h4> @Model.Marketdata.OFFER</h4>
            </div>
         </div>
         <div class="type-instrument">
                <p>Акция</p>
         </div>
            <div class="lot-size">
                <p>Лот = @Model.Security.LOTSIZE шт.</p>
            </div>
         <div class="sec-id-company">
                <p>@Model.Security.SECID</p>
         </div>
         <div class="change-price">
             <div class="select-price">
                 <p>Изменение за день</p>
                    <div class="change-price-num-persent">
                        <h6 class="change-price-num" id="change-price-num"></h6>
                        <h6 id="change-price-persent"></h6>
                    </div>
             </div>
             @* Здесь должна будет размещаться разница стоимости закрытия и текущая*@
         </div>
    </div>
            <div class="section">
            <div class ="diagram-instruments">
            <div class="diagram-chart-section">
                <canvas id="chart-instruments" width="800" height="300"></canvas>
                @* Здесь нужно будет разместить диаграмму Chart.js со свечами роста-падения *@
            </div>
                <div class="date-diagram">
                @* Здесь будет размещение дат отображение (сортировка) по 1д, 1н, 1м и тд *@
                @* Думаю запрос к апи будет из js *@
                <div class="section-btn-date-diagram">
                    <button id="btn_diagram_1d" class="btn-date-diagram" href="#">1 д</button>
                    <button id="btn_diagram_1w" class="btn-date-diagram" href="#">1 н</button>
                    <button id="btn_diagram_1m" class="btn-date-diagram" href="#">1 м</button>
                    <button id="btn_diagram_3m" class="btn-date-diagram" href="#">3 м</button>
                    <button id="btn_diagram_6m" class="btn-date-diagram" href="#">6 м</button>
                    <button id="btn_diagram_1y" class="btn-date-diagram" href="#">1 г</button>
                   </div> 
                </div>
            </div>
            </div>
            <div class="section">
                <div class="glass-trading">
                    <div class="up-section-glass-trading">
                        <h5>Стакан</h5>
                         <button class="btn-detail-glass">Показать подробно</button>
                    </div>
                    <div class="down-section-glass-trading">
                             <div class="demand-section">
                                  Спрос, Р
                                 <progress class="progress-demand" id="progress-demand" max="100" value="70">70%</progress>
                              </div>
                                   <div class="offer-section">
                                    Предлжение, Р
                            <progress class="progress-offer" id="progress-offer" max="100" value="70">70%</progress>
                                </div>
                    </div>
                    @* стакан со спросом и предложением *@
                </div>
                <div class="btn-instrument">
                    <div class="btn-buy-instrument">
                    <button class="btn-buy">Купить</button>
                    </div>
                    <div class="btn-sell-instrument">
                    <button class="btn-sell">Продать</button>
                    </div>
                </div>
            </div>
            <div class="section">
            <div class="statistics-today-section">
                <div class="statistics-today-name">
                    <h2>Ключевая статистика за сегодня</h2>
                </div>
                <div class="statistics-today-details">
                    <div class="left-statistics-today">
                        <p>Цена закрытия:  @Model.Security.PREVLEGALCLOSEPRICE</p>
                        <p>Цена закрытия:  @Model.Marketdata.OPEN</p>
                        <p>Количество акций в обращении:  @Model.Security.ISSUESIZE</p>
                    </div>
                    <div class="right-statistics-today">
                        <p>Минимальная цена:  @Model.Marketdata.LOW</p>
                        <p>Максимальная цена:  @Model.Marketdata.HIGH</p>
                        <p>Количество сделок за сегодня:  @Model.Marketdata.NUMTRADES</p>
                    </div>
                </div>
                </div>
            </div>
    
    </div>
</div>
<script>
    var allInstruments = @Html.Raw(Json.Serialize(Model));
</script>